/*

1.  0-600px             PHONE
2.  600px-900px         TABLET PORTRAIT
3.  900px-1200px        TABLET LANDSCAPE
4.  1200px-1800px       DESKTOP [ OUR INITIAL CODE ] - [ DON'T HAVE TO APPLY FOR THIS DEVICES ]
5.  1800px +            BIG DESKTOPS

*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(6rem); }
  50% {
    opacity: 0.3;
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

html {
  font-size: 62.5%;
  /* Default : 16px(100%) -> 10px(62.5%), so 62.5% = 10px (1rem) */ }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 43.75%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  /* Slightly better practice for inheriting box-sizing from parent */ }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0;
      margin: 0; } }

.heading-primary {
  color: #fff;
  text-transform: uppercase; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3rem;
    animation: moveInLeft 1.5s; }
    @media (max-width: 75em) {
      .heading-primary--main {
        margin-left: -50%;
        margin-right: -50%; } }
    @media (max-width: 56.25em) {
      .heading-primary--main {
        letter-spacing: 2rem;
        font-size: 5rem;
        margin-left: -50%;
        margin-right: -50%; } }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 4rem;
        margin-left: -50%;
        margin-right: -50%; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.4rem;
    font-weight: 400;
    animation: moveInRight 1.5s;
    margin-bottom: 7rem; }
    @media (max-width: 75em) {
      .heading-primary--sub {
        margin-left: -50%;
        margin-right: -50%; } }
    @media (max-width: 56.25em) {
      .heading-primary--sub {
        letter-spacing: 1.2rem;
        font-size: 2rem;
        margin-left: -50%;
        margin-right: -50%; } }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .7rem;
        font-size: 1.5rem;
        margin-left: -50%;
        margin-right: -50%; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  letter-spacing: .3rem;
  transition: .2s; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem;
      margin-top: 8rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      margin-top: 5rem;
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(-5deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 0.1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }
  @media (max-width: 37.5em) {
    .section-about .heading-tertiary {
      text-align: center; } }

.section-about .paragraph {
  font-size: 1.6rem; }
  .section-about .paragraph:not(:last-child) {
    margin-bottom: 3rem; }
  @media (max-width: 37.5em) {
    .section-about .paragraph {
      text-align: center;
      letter-spacing: 1px;
      word-spacing: .3px; } }

.quote .paragraph {
  font-size: 1.6rem; }
  .quote .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.card-standout-btn {
  text-transform: uppercase;
  display: block;
  padding-top: 5px;
  width: 50%;
  margin: 0 auto;
  background-image: linear-gradient(to right, #2998ff, #5643fa);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }

.u-center-text {
  text-align: center; }

.u-margin-bottom--small {
  margin-bottom: 1.5rem; }

.u-margin-bottom--medium {
  margin-bottom: 4rem; }

.u-margin-bottom--big {
  margin-bottom: 8rem; }

.u-letter-spacing--small {
  letter-spacing: 1.5px; }

.u-color--white {
  color: #fff; }

.u-focus {
  font-weight: 700;
  word-spacing: 2px; }

.u-lineargrad--blue {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }

.u-icon {
  display: inline-block;
  font-size: 3rem;
  padding: 5px 10px; }

.u-grey--grad {
  background-image: linear-gradient(to right, #777, #eeee);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }

.u-green--grad {
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }

.u-cursor {
  cursor: pointer; }

.u-margin-top--md {
  margin-top: 1rem; }

.u-green--backgrad {
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  color: #fff; }
  .u-green--backgrad::after {
    background-image: linear-gradient(to right, #7ed56f, #28b485); }

.u-skew-x--small {
  transform: skewX(-10deg); }

.bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .3;
  z-index: -10;
  object-fit: fill;
  overflow-x: hidden;
  overflow-y: hidden; }

.btn {
  font-size: 1.6rem; }
  .btn, .btn:link, .btn:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 7rem;
    transition: all .3s;
    position: relative; }
  .btn:hover {
    transform: translateY(-0.4rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
    .btn:hover::after {
      transform: scale(1.5);
      opacity: 0; }
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-0.2rem);
    box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.4); }
  .btn::after {
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    transition: all .2s; }
  .btn--white {
    background-color: #fff;
    color: #777; }
    .btn--white::after {
      background-color: #fff; }
  .btn--green {
    background-color: #55c57a;
    color: #fff; }
    .btn--green::after {
      background-color: #55c57a; }
  .btn--animate {
    animation: moveInUp 1s ease-out 0.5s;
    animation-fill-mode: backwards; }

.btn-txt:link, .btn-txt:visited {
  font-size: 1.6rem;
  color: #28b485;
  display: inline-block;
  text-decoration: none;
  padding: 3px;
  border-bottom: 1px solid #28b485;
  transition: all .3s; }

.btn-txt:hover {
  box-shadow: 0 0.9rem 3rem rgba(0, 0, 0, 0.5);
  transform: translateY(-2px); }

.btn-txt:active {
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.5);
  transform: translateY(0); }

.card__btn--link, .card__btn--link:link, .card__btn--link:visited {
  width: 70%;
  height: 5rem;
  display: block;
  padding-top: .9rem;
  margin: 0 auto;
  text-align: center;
  background-color: #f7f7f7;
  border-radius: 3rem;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 1.9rem;
  transition: all .3s; }
  .card__btn--link:hover, .card__btn--link:link:hover, .card__btn--link:visited:hover {
    box-shadow: 0 0.9rem 3rem rgba(0, 0, 0, 0.5);
    transform: translateY(-2px); }
  .card__btn--link:active, .card__btn--link:link:active, .card__btn--link:visited:active {
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.5);
    transform: translateY(0); }

.btn-block {
  text-align: center; }

.classic-btn, .classic-btn:link, .classic-btn:visited {
  background-color: #0366d6;
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  padding: 1rem 1.4rem;
  border-radius: 5px;
  margin: 1rem;
  letter-spacing: 2px;
  word-spacing: 3px; }
  .classic-btn:hover, .classic-btn:active, .classic-btn:link:hover, .classic-btn:link:active, .classic-btn:visited:hover, .classic-btn:visited:active {
    background-color: rgba(3, 102, 214, 0.75); }

.card {
  perspective: 100rem;
  -moz-perspective: 100rem;
  -webkit-perspective: 100rem;
  position: relative;
  height: 50rem; }
  .card__side {
    height: 50rem;
    transition: all .7s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2); }
    .card__side--back {
      transform: rotateY(-180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__image {
    background-size: cover;
    height: 20rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    -moz-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    -o-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
    .card__image--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("../img/nat-5.jpg"); }
    .card__image--2 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("../img/nat-6.jpg"); }
    .card__image--3 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url("../img/nat-7.jpg"); }
  .card__heading {
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
    padding: 3px;
    color: #fff;
    position: absolute;
    top: 13rem;
    right: 2rem; }
    .card__heading--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
    .card__heading--2 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
    .card__heading--3 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
  .card__description {
    padding: 2px; }
    .card__description ul {
      list-style: none;
      width: 70%;
      margin: 0 auto; }
    .card__description li {
      text-align: center;
      font-size: 1.6rem;
      padding: 1rem; }
      .card__description li:not(:last-child) {
        border-bottom: 1px solid #eeee; }
    .card__description--pgraph {
      text-align: center;
      margin-top: 2rem;
      padding: 0rem 2rem;
      letter-spacing: .4px; }
      .card__description--pgraph-back {
        display: inline-block;
        margin: 9rem;
        font-weight: 200;
        font-size: 3rem;
        text-align: center; }
        @media (max-width: 75em) {
          .card__description--pgraph-back {
            margin: 10rem 0 !important;
            width: 100% !important; } }
    .card__description--name {
      font-size: 2.5rem;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 3px;
      word-spacing: 4px;
      padding: 3px; }
    .card__description--desc {
      font-size: 1.9rem; }
    .card__description ol li {
      text-align: left; }
    .card__description--title {
      font-family: monospace;
      font-weight: 700;
      letter-spacing: .6px;
      text-transform: uppercase;
      font-size: 1.2rem;
      padding-right: 6px; }
    .card__description--result {
      display: inline-block;
      font-size: 1.3rem;
      margin-left: 5px;
      border-radius: 3px;
      background-color: #7ed56f;
      color: #fff;
      padding: 5px 7px; }

.composition {
  position: relative; }
  .composition__photo {
    position: absolute;
    width: 55%;
    border-radius: 5px;
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: all 0.2s; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover, .composition__photo:active {
      z-index: 2;
      transform: scale(1.2);
      outline-offset: 2rem;
      outline: 1.5rem solid #55c57a;
      box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.5); }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }
  @media (max-width: 56.25em) {
    .composition {
      display: none; } }

.disclosure {
  font-family: monospace;
  width: 100%;
  background-image: linear-gradient(to right, #55c57a, #7ed56f);
  text-align: center;
  font-size: 2rem;
  color: #fff;
  padding: .5rem 5px;
  margin-bottom: 1rem;
  border-radius: 5px; }
  @media (max-width: 56.25em) {
    .disclosure {
      display: none; } }
  .disclosure span {
    cursor: pointer;
    width: 5rem;
    padding-right: 1rem;
    display: block;
    float: right;
    color: inherit;
    text-align: center; }

.feature-box {
  height: 79rem;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 1.5rem;
  padding: 3rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.3);
  transition: 0.3s; }
  @media (max-width: 75em) {
    .feature-box {
      height: unset !important;
      padding: 1.5rem; } }
  @media (max-width: 56.25em) {
    .feature-box {
      height: unset !important;
      margin: 3rem 2rem !important; } }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    letter-spacing: .3rem; }
  .feature-box:hover {
    box-shadow: 0 5rem 5rem rgba(0, 0, 0, 0.7); }
  .feature-box__text {
    word-spacing: 3px; }

.feedback-block {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 60%, rgba(0, 0, 0, 0.1) 60%), url(../img/nat-10.jpg);
  background-size: cover;
  height: 65rem;
  border-radius: 4rem;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
  overflow: hidden; }
  @media (max-width: 75em) {
    .feedback-block {
      height: unset !important; } }
  @media (max-width: 56.25em) {
    .feedback-block {
      background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 50%, rgba(0, 0, 0, 0.1) 80%), url(../img/nat-10.jpg) !important;
      height: unset; } }
  .feedback-block__form {
    width: 50%;
    padding: 5rem; }
    @media (max-width: 75em) {
      .feedback-block__form {
        width: 80%; } }
    @media (max-width: 56.25em) {
      .feedback-block__form {
        width: 100%; } }

.form__input {
  font-family: inherit;
  font-size: 1.6rem;
  color: inherit;
  padding: 1.5rem 5rem 1.5rem 2rem;
  border-radius: 1rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  width: 100%;
  display: block;
  border-bottom: 3px solid transparent;
  transition: all .2s; }
  @media (max-width: 56.25em) {
    .form__input {
      width: 90%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.3); }
    .form__input:focus:valid {
      border-bottom: 4px solid #55c57a; }
    .form__input:focus:invalid {
      border-bottom: 4px solid #ff3d00; }
  .form__input::-webkit-input-placeholder {
    color: #777;
    letter-spacing: 1.6px;
    word-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.3rem; }
  .form__input:-ms-input-placeholder {
    color: #777;
    letter-spacing: 1.6px;
    word-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.3rem; }
  .form__input::placeholder {
    color: #777;
    letter-spacing: 1.6px;
    word-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.3rem; }

.form__label {
  font-size: 1.6rem;
  display: block;
  margin: 1rem 1rem 1rem 2rem; }

.form__radio {
  margin: 1rem 3.3rem; }
  .form__radio--input {
    cursor: pointer;
    margin-right: 3px;
    display: none; }
  .form__radio--label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-right: 4rem; }
  .form__radio--btn {
    margin: 1rem -1rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    border: 3px solid #28b485;
    display: inline-block;
    position: absolute;
    top: -1.5px;
    left: -2.8rem; }
    .form__radio--btn::after {
      content: "";
      display: block;
      height: 1.2rem;
      width: 1.2rem;
      border-radius: 50%;
      background-color: #28b485;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity .2s; }
  .form__radio--input:checked + .form__radio--label .form__radio--btn::after {
    opacity: 1; }

.quote {
  display: table;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0 auto;
  box-shadow: 0 3rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5rem;
  transform: skewX(-10deg); }
  .quote__img {
    display: block;
    width: 15rem;
    height: 15rem;
    background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
    object-fit: fill;
    -webkit-clip-path: circle(50%);
    clip-path: circle(50%);
    margin: 0 auto;
    transform: skewX(10deg) translateY(-18%); }
    .quote__img img {
      height: 100%;
      width: 100%; }
  .quote__text {
    display: table-row;
    transform: skewX(10deg);
    letter-spacing: 3px; }
    .quote__text h3::before {
      content: " - "; }
    .quote__text p {
      font-family: 'Dancing Script', cursive;
      font-size: 3rem; }

.footer {
  background-color: #333;
  padding: 10rem 5rem;
  border-radius: 1rem; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 7rem 5rem; } }
  .footer__logo {
    width: 18rem;
    height: 15rem; }
    @media (max-width: 56.25em) {
      .footer__logo {
        display: none; } }
  .footer__copyright {
    font-size: 1.6rem;
    color: #fff;
    font-weight: 300;
    letter-spacing: 2px;
    font-family: inherit;
    margin-bottom: 1rem; }
  .footer__links--text {
    display: block;
    font-size: 1.4rem;
    color: #eeee;
    font-weight: lighter;
    padding: 2px;
    margin: 5px;
    font-weight: 300;
    letter-spacing: 1.4px;
    font-family: inherit; }
    .footer__links--text i {
      font-size: 2rem;
      margin-right: 5px; }
  .footer__links a, .footer__links a:link, .footer__links a:visited {
    text-decoration: none;
    color: inherit;
    outline: none; }
  .footer blockquote {
    text-align: center;
    font-size: 2rem; }
    .footer blockquote i {
      font-size: 7rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media (max-width: 56.25em) {
    .row {
      max-width: 80vw; } }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 5rem !important; } }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0 !important;
          margin-bottom: 5rem !important; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2*((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2*((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3*((100% - 3 * 6rem) / 4) + 2*6rem); }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -moz-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -o-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    left: 4rem;
    top: 4rem; }
  .header__logo {
    height: 4rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  cursor: pointer;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  text-align: center;
  background-color: #fff;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 200;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__bg {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-image: radial-gradient(#7ed56f, #28b485);
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 100;
  transition: transform .3s; }
  @media (max-width: 56.25em) {
    .navigation__bg {
      top: 4.5rem;
      right: 4.5rem; } }
  @media (max-width: 56.25em) {
    .navigation__bg {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  width: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 150;
  transition: all 0.3s cubic-bezier(0.86, 0, 0 0.07, 1); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style-type: none;
  text-align: center; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(150deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 300%;
  transition: all .35s; }

.navigation__link:hover, .navigation__link:active {
  background-size: 110%;
  color: #777;
  transform: translateX(2rem); }

.navigation__checkbox:checked ~ .navigation__bg {
  transform: scale(60); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.3rem; }
  .navigation__icon, .navigation__icon::after, .navigation__icon::before {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -1rem; }
  .navigation__icon::after {
    top: 1rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1.2rem; }

.navigation__button:hover .navigation__icon::after {
  top: +1.2rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(45deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-45deg); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
  @media (max-width: 75em) {
    .section-about [class^="col-"]:not(:last-child) {
      padding-left: 5%; } }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  margin-top: -13rem;
  transform: skewY(-10deg); }
  .section-features > * {
    transform: skewY(10deg); }

.section-diversions {
  padding: 30rem 0 15rem 0;
  margin-top: -13rem;
  background-color: #f7f7f7; }

.section-getquote {
  padding: 5rem 0;
  position: relative; }

.section-feedback {
  margin: 10rem;
  padding: 10rem;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  border-radius: 4rem; }
  @media (max-width: 56.25em) {
    .section-feedback {
      border-radius: 0rem;
      margin: 5rem 0;
      background-image: none !important;
      padding: 0rem; } }
