@mixin clearfix {
    &::after{
        content: "";
        clear: both;
        display: table;
    }
}
@mixin box-shadow--btn{
    &:hover{
        box-shadow: 0 .9rem 3rem rgba($color-black,.5);
        transform: translateY(-2px);
    }
    &:active{
        box-shadow: 0 .2rem 1rem rgba($color-black,.5);
        transform: translateY(0);
    }
}
@mixin place-holder{
    color: $color-grey--dark;
    letter-spacing: 1.6px;
    word-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.3rem;
}
@mixin center-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}



// MEDIA QUERIES

/*

1.  0-600px             PHONE
2.  600px-900px         TABLET PORTRAIT
3.  900px-1200px        TABLET LANDSCAPE
4.  1200px-1800px       DESKTOP [ OUR INITIAL CODE ] - [ DON'T HAVE TO APPLY FOR THIS DEVICES ]
5.  1800px +            BIG DESKTOPS

*/

// RECOMMENDED ORDER FOR ADDING MEDIA-QUERIES : Base ~ Typo ~ General Layout ~ Grid ~ Page Layout ~ Components

// For media-queries  1rem === 1em === 16px
// It is recommended to use 'em' system for media-queries, so if the end user changes font, appereance should change

@mixin respond-to-device($breakpoint){
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content };  // 600px = 37.5em
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { @content };  // 900px = 56.25em
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) { @content };  // 1200px = 75em
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) { @content };  // 1800px = 112.5em
    }
}