@mixin clearfix {
    &::after{
        content: "";
        clear: both;
        display: table;
    }
}
@mixin box-shadow--btn{
    &:hover{
        box-shadow: 0 .9rem 3rem rgba($color-black,.5);
        transform: translateY(-2px);
    }
    &:active{
        box-shadow: 0 .2rem 1rem rgba($color-black,.5);
        transform: translateY(0);
    }
}
@mixin place-holder{
    color: $color-grey--dark;
    letter-spacing: 1.6px;
    word-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.3rem;
}