.section-about{
    background-color: $color-grey--light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}
.section-features{
    padding: 20rem 0;
    background-image: linear-gradient(to right,rgba($color-primary--light, 0.8),rgba($color-primary--dark,0.8)),url(../img/nat-4.jpg);
    background-size: cover;
    margin-top: -13rem;
    transform: skewY(-10deg);
    & > *{
    transform: skewY(+10deg);  //Skewing this in opposite direction for noraml behaviour (Also Valid for Future Elements)
    }
}
.section-diversions{
    padding: 30rem 0 15rem 0;
    margin-top: -13rem;
    background-color: $color-grey--light-1;
}
.section-getquote{
    padding: 5rem 0;
    //background-color: $color-grey--light-1;
    position: relative;
}
.section-feedback{
    margin: 10rem;
    padding: 10rem;
    background-image: linear-gradient(to right bottom , $color-primary--light,$color-primary--dark);
    border-radius: 4rem;
}