@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(6rem); }
  50% {
    opacity: 0.3;
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

:root {
  font-size: 62.5%;
  /* Default : 16px(100%) -> 10px(62.5%), so 62.5% = 10px */ }

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  /* Slightly better practice for inheriting box-sizing from parent */ }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3rem;
    animation: moveInLeft 1.5s; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.4rem;
    font-weight: 400;
    animation: moveInRight 1.5s;
    margin-bottom: 7rem; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  letter-spacing: .3rem;
  transition: .2s; }
  .heading-secondary:hover {
    transform: skewY(-5deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 0.1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.card-standout-btn {
  text-transform: uppercase;
  display: block;
  padding-top: 5px;
  width: 50%;
  margin: 0 auto;
  background-image: linear-gradient(to right, #2998ff, #5643fa);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }

.u-center-text {
  text-align: center; }

.u-margin-bottom--small {
  margin-bottom: 1.5rem; }

.u-margin-bottom--medium {
  margin-bottom: 4rem; }

.u-margin-bottom--big {
  margin-bottom: 8rem; }

.u-letter-spacing--small {
  letter-spacing: 1.5px; }

.u-color--white {
  color: #fff; }

.u-focus {
  font-weight: 700;
  word-spacing: 2px; }

.u-lineargrad--blue {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }

.u-icon {
  display: inline-block;
  font-size: 3.5rem;
  padding: 5px; }

.u-grey--grad {
  background-image: linear-gradient(to right, #777, #eeee);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }

.u-green--grad {
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }

.btn {
  font-size: 1.6rem; }
  .btn:link, .btn:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 7rem;
    transition: all .3s;
    position: relative; }
  .btn:hover {
    transform: translateY(-0.4rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
    .btn:hover::after {
      transform: scale(1.5);
      opacity: 0; }
  .btn:active {
    transform: translateY(-0.2rem);
    box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.4); }
  .btn::after {
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    transition: all .2s; }
  .btn--white {
    background-color: #fff;
    color: #777; }
    .btn--white::after {
      background-color: #fff; }
  .btn--animate {
    animation: moveInUp 1s ease-out 0.5s;
    animation-fill-mode: backwards; }

.btn-txt:link, .btn-txt:visited {
  font-size: 1.6rem;
  color: #28b485;
  display: inline-block;
  text-decoration: none;
  padding: 3px;
  border-bottom: 1px solid #28b485;
  transition: all .3s; }

.btn-txt:hover {
  box-shadow: 0 0.9rem 3rem rgba(0, 0, 0, 0.5);
  transform: translateY(-2px); }

.btn-txt:active {
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.5);
  transform: translateY(0); }

.card__btn--link, .card__btn--link:link, .card__btn--link:visited {
  width: 70%;
  height: 5rem;
  display: block;
  padding-top: .9rem;
  margin: 0 auto;
  text-align: center;
  background-color: #f7f7f7;
  border-radius: 3rem;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 1.9rem;
  transition: all .3s; }
  .card__btn--link:hover, .card__btn--link:link:hover, .card__btn--link:visited:hover {
    box-shadow: 0 0.9rem 3rem rgba(0, 0, 0, 0.5);
    transform: translateY(-2px); }
  .card__btn--link:active, .card__btn--link:link:active, .card__btn--link:visited:active {
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.5);
    transform: translateY(0); }

.btn-block {
  text-align: center; }

.classic-btn, .classic-btn:link, .classic-btn:visited {
  background-color: #0366d6;
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  padding: 1rem 1.4rem;
  border-radius: 5px;
  margin: 1rem;
  letter-spacing: 2px;
  word-spacing: 3px; }
  .classic-btn:hover, .classic-btn:active, .classic-btn:link:hover, .classic-btn:link:active, .classic-btn:visited:hover, .classic-btn:visited:active {
    background-color: rgba(3, 102, 214, 0.75); }

.card {
  perspective: 100rem;
  -moz-perspective: 100rem;
  -webkit-perspective: 100rem;
  position: relative;
  height: 50rem; }
  .card__side {
    height: 50rem;
    transition: all .7s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2); }
    .card__side--back {
      transform: rotateY(-180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__image {
    background-size: cover;
    height: 20rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    -moz-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    -o-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
    .card__image--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("../img/nat-5.jpg"); }
    .card__image--2 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("../img/nat-6.jpg"); }
    .card__image--3 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url("../img/nat-7.jpg"); }
  .card__heading {
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
    padding: 3px;
    color: #fff;
    position: absolute;
    top: 13rem;
    right: 2rem; }
    .card__heading--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
    .card__heading--2 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
    .card__heading--3 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
  .card__description {
    padding: 2px; }
    .card__description ul {
      list-style: none;
      width: 70%;
      margin: 0 auto; }
    .card__description li {
      text-align: center;
      font-size: 1.6rem;
      padding: 1rem; }
      .card__description li:not(:last-child) {
        border-bottom: 1px solid #eeee; }
    .card__description--pgraph {
      text-align: center;
      margin-top: 2rem;
      padding: 0rem 2rem;
      letter-spacing: .4px; }
      .card__description--pgraph-back {
        display: inline-block;
        margin: 9rem;
        -webkit-font-weight: 100;
        font-weight: 100;
        font-size: 3rem;
        text-align: center; }
    .card__description--name {
      font-size: 2.5rem;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 3px;
      word-spacing: 4px;
      padding: 3px; }
    .card__description--desc {
      font-size: 1.9rem; }
    .card__description ol li {
      text-align: left; }
    .card__description--title {
      text-transform: uppercase;
      font-size: 1rem;
      padding-right: 6px; }
    .card__description--result {
      display: inline-block;
      font-size: 1.2rem;
      border-radius: 3px;
      background-color: #7ed56f;
      color: #fff;
      padding: 5px 7px; }

.composition {
  position: relative; }
  .composition__photo {
    position: absolute;
    width: 55%;
    border-radius: 5px;
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: all 0.2s; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover, .composition__photo:active {
      z-index: 2;
      transform: scale(1.2);
      outline-offset: 2rem;
      outline: 1.5rem solid #55c57a;
      box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.5); }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  height: 79rem;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 1.5rem;
  padding: 3rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.3);
  transition: 0.3s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    letter-spacing: .3rem; }
  .feature-box:hover {
    box-shadow: 0 5rem 5rem rgba(0, 0, 0, 0.7); }
  .feature-box__text {
    word-spacing: 3px; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2*((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2*((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3*((100% - 3 * 6rem) / 4) + 2*6rem); }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -moz-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -o-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    left: 4rem;
    top: 4rem; }
  .header__logo {
    height: 4rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  margin-top: -13rem;
  transform: skewY(-10deg); }
  .section-features > * {
    transform: skewY(10deg); }

.section-diversions {
  padding: 30rem 0;
  margin-top: -13rem;
  background-color: #f7f7f7; }
