.bg__video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .3; 
    z-index: -10;
    object-fit: cover;
    overflow-x: hidden;
    overflow-y: hidden;
}