.disclosure{
    font-family: monospace;
    width: 100%;
    background-image: linear-gradient(to right, $color-primary,$color-primary--light);
    text-align: center;
    font-size: 2rem;
    color: $color-white;
    padding: .5rem 5px;
    margin-bottom: 1rem;
    border-radius: 5px;
    span{
        cursor: pointer;
        width: 5rem;
        padding-right: 1rem;
        display: block;
        float: right;
        color: inherit;
        text-align: center;
    }
}