.feature-box{
    height: 79rem;
    @include respond-to-device(tab-port){
        height: unset !important;
        margin: 3rem 2rem !important;
    }
    background-color: rgba($color-white,.7);
    font-size: 1.5rem;
    padding: 3rem;
    text-align: center;
    border-radius: 10px; //Not setting it to 1rem because I don't want it to change as per default's!
    box-shadow: 0 2rem 2rem rgba($color-black,0.3);
    transition: 0.3s;
    &__icon{
        font-size: 6rem;
        margin-bottom: .5rem;
        display: inline-block;
        background-image: linear-gradient(to right, $color-primary--light,$color-primary--dark);
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        color: transparent;
        letter-spacing: .3rem;
    }
    &:hover{
        box-shadow: 0 5rem 5rem rgba($color-black,0.7);
    }
    &__text{
        word-spacing: 3px;
    }
}