.form{
    &__input{
        font-family: inherit;
        font-size: $default-font--size;
        color: inherit;
        padding: 1.5rem 5rem 1.5rem 2rem;
        border-radius: 1rem;
        border: none;
        background-color:rgba($color-white,.4);
        width: 100%;
        display: block;
        border-bottom: 3px solid transparent;
        transition: all .2s;
        &:focus{
            outline: none;
            box-shadow: 0 1rem 1.5rem rgba($color-black, .3);
            &:valid{
                border-bottom: 4px solid $color-primary;
            }
            &:invalid{
                border-bottom: 4px solid $color-pinkLike;
            }
        }
        &::-webkit-input-placeholder{
            @include place-holder;
        }
        &:-ms-input-placeholder{
            @include place-holder;
        }
        &::placeholder{
            @include place-holder;
        }
    }
    &__label{
        font-size: $default-font--size;
        display: block;
        margin: 1rem 1rem 1rem 2rem;
    }
    &__radio{
        margin: 1rem 3.3rem;
        &--input{
            cursor: pointer;
            margin-right: 3px;
            display: none;
        }
        &--label{
            position: relative;
            cursor: pointer;
            margin-right: 4rem;
        }
        &--btn{
            margin: 0 -.5rem;
            height: 2.5rem;
            width: 2.5rem;
            border-radius: 50%;
            border: 3px solid $color-primary--dark;
            display: inline-block;
            position: absolute;
            top: -1.5px;
            left: -2.8rem;
            &::after{
                content: "";
                display: block;
                height: 1.2rem;
                width: 1.2rem;
                border-radius: 50%;
                background-color: $color-primary--dark;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                opacity: 0;
                transition: opacity .2s;
            }
        }
        &--input:checked + &--label &--btn::after{
            opacity: 1;
        }
    }
}