html{
    // Font-size for Desktop ( 1200px-1800px )
    font-size: 62.5%; /* Default : 16px(100%) -> 10px(62.5%), so 62.5% = 10px (1rem) */ // Not seen as a typo but is a Overall Setting

    //Font-size for specific Breakpoints

    @include respond-to-device(tab-land){  // width < 1200px?
        font-size: 56.25%; // For 9px, 9/16 * 100 = 56.25%
    }
    @include respond-to-device(tab-port){  // width < 900px?
        font-size: 50%; // For 8px, 8/16 * 100 = 50%
    }
    @include respond-to-device(phone){  // width < 600px?
        font-size: 43.75%; // For 7px, 7/16 * 100 = 43.75%
    }
    @include respond-to-device(big-desktop){  // width > 1800px?
        font-size: 75%; // For 12px, 12/16 * 100 = 75%
    }

}
*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: inherit;  /* Slightly better practice for inheriting box-sizing from parent */
}
body{
    box-sizing: border-box;
}
::selection{
    background-color: $color-primary;
    color: $color-white;
}