$color-primary: #55c57a;
$color-primary--light: #7ed56f;
$color-primary--dark: #28b485;
:root{
    font-size: 62.5%; /* Default : 16px(100%) -> 10px(62.5%), so 62.5% = 10px */
}
*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: inherit;  /* Slightly better practice for inheriting box-sizing from parent */
}
body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 3rem;
    box-sizing: border-box;
}
.header{
    position: relative;
    height: 95vh;
    background-image: linear-gradient(to right,rgba($color-primary--light, 0.8),rgba($color-primary--dark,0.8)),url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0,100% 0,100% 75vh,0 100%);
}
.header__logo-box{
    position: absolute;
    left: 4rem;
    top: 4rem;
}
.header__logo{
    height: 4rem;
}
.header__text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.heading-primary{
    color: #ffffff;
    text-transform: uppercase;
}
.heading-primary--main{
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3rem;
    animation: moveInLeft 1.5s;
}
.heading-primary--sub{
    display: block;
    font-size: 2rem;
    letter-spacing: 1.4rem;
    font-weight: 400;
    animation: moveInRight 1.5s;
    margin-bottom: 7rem;
}
@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }
    80%{
        transform: translateX(-1.5rem);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }
    80%{
        transform: translateX(+1.5rem);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
.btn{
    font-size: 1.6rem;
}
.btn:link, .btn:visited{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 7rem;
    transition: all .3s;
    position: relative;
}
.btn:hover{
    transform: translateY(-0.4rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}
.btn:active{
    transform: translateY(-2px);
    box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.4);
}
.btn::after{
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    transition: all .2s;
}
.btn:hover::after{
    transform: scale(1.5);
    opacity: 0;
}
.btn--white::after{
    background-color: #fff;
}
.btn--white{
    background-color: #ffffff;
    color: #777777;
}
.btn--animate{
    animation: moveInUp 1s ease-out 0.5s;
    animation-fill-mode: backwards;
}
@keyframes moveInUp{
    0%{
        opacity: 0;
        transform: translateY(6rem);
    }
    50%{
        opacity: 0.3;
        transform: translateY(-1rem);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}